.item {
  display: flex;

  .icon {
    color: white;
  }


  .button-field {
    display: flex;
    align-items: center;
    padding-left: 5px;

    .icon {
      font-size: 28px;
      font-weight: bold;
    }

    .button-first, .button-not-finished, .button-finished {
      box-shadow:
        0px 2px 8px -1px rgba(0,0,0,0.2),
        0px 3px 4px 0px rgba(0,0,0,0.13),
        0px 1px 8px 0px rgba(0,0,0,0.12);
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background-color: #c8e6c9;
    }

    @keyframes not-finish-to-finish{
      from { background-color: #c8e6c9; }
    }

    @keyframes finish-to-not-finish{
      from { background-color: #388e3c; }
    }

    .button-finished {
      background-color: #388e3c;
      animation: not-finish-to-finish 0.4s ease-in;
    }

    .button-not-finished {
      background-color: #c8e6c9;
      animation: finish-to-not-finish 0.4s ease-out;
    }
  }

  .button-field:hover {
    opacity: 0.9;
  }

  .paper {
    flex: 1;
    display: flex;
    // width: 10%;
    align-items: center;

    .item-text-first, .item-text-unchecked, .item-text-checked {
      flex: 1;
      padding: 5px;
      padding-left: 10px;
      white-space: pre-wrap;

      word-break: break-all;
      word-break: break-word;
      white-space: pre-wrap;
      text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.15);
    }

    @keyframes blur {
      from { opacity: 1; }
      to { opacity: 0.3; }
    }

    @keyframes remove-blur{
      from { opacity: 0.3; }
      to { opacity: 1; }
    }
    .item-text-checked {
      user-select: none;
      opacity: 0.3;
      animation: blur 0.4s linear;
    }

    .item-text-unchecked {
      opacity: 1;
      animation: remove-blur 0.2s linear;
    }

    .end-button-field {
      position: absolute;
      right: 26px;
      display: flex;
      height: 45px;
      background-color: white;
      border-top-right-radius: 10px;
      box-shadow:
        -2px 2px 8px -1px rgba(0,0,0,0.2),
        -2px 3px 4px 0px rgba(0,0,0,0.13),
        -2px 1px 8px 0px rgba(0,0,0,0.12);
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      
      :hover {
        opacity: 0.9;
      }

      .modify-button-collapsed, .delete-button-collapsed, .edit-icon-collapsed, .delete-icon-collapsed{
        color: white;
        width: 0px;
        transition: width 0.2s ease-out;
      }

      .delete-button, .modify-button, .edit-icon, .delete-icon {
        color: white;
        width: 28px;
        transition: width 0.2s ease-out;
      }

      .delete-button, .delete-button-collapsed {
        background-color:#e57373;
      }

      .modify-button, .modify-button-collapsed {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }

      .modify-button, .modify-button-collapsed {
        background-color: #7986cb;
      }

      .edit-icon, .delete-icon {
        color: white;
        font-size: 23px;
      }
    }

    .expand-button-field {
      height: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow:
        -2px 2px 8px -1px rgba(0,0,0,0.2),
        -2px 3px 4px 0px rgba(0,0,0,0.13),
        -2px 1px 8px 0px rgba(0,0,0,0.12);

      :hover {
        opacity: 0.9;
      }

      .expand-button {
        width: 10px;
        height: 50px;

        .expand-icon {
          color: #3f51b5;
        }
      }
    }
  }

}