.container {
  display: flex;
  flex-direction: row ;
  height: 100%;
  min-height: 500px;

  .list-panel {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 400px;
    min-width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .item-panel {
    min-width: 300px;
    width: 60%;
    flex: 3 1 auto;
    max-height: 100vh;
    overflow: auto;

    .fab-edit {
      height: 50px;
      width: 50px;
      bottom: 15px;
      right: 20px;
      position: fixed;
      z-index: 1;
    }

    .button {
      width: 35px;
    }

    .progress {
      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      width: 100vw;
      height: 5px;
    }

    .add-item-field {
      display: flex;
      flex: 1;

      .input {
        padding: 10px;
        padding-right: 5px;
        flex: 1 1 auto;
      }
    }
  }
}