.container {
  display: flex;
  flex-direction: row ;
  height: 100%;

  .feature-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 300px;
    
    .add-item-field {
      display: flex;
      flex: 0 0 auto;
      .input {
        padding: 10px;
        padding-right: 5px;
        flex: 1 1 auto;
      }

      .button {
        flex: 0 1 auto;
        width: 50px;
      }
    }
  }

  .list {
    flex: 3 1 auto;
    max-height: 100vh;
    overflow: auto;
    max-width: 900px;
  }
}