.container {
  display: flex;
  flex-direction: row ;
  height: 100%;

  .feature-panel {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: calc(25vw + 100px);
    
    .add-item-field {
      display: flex;
      flex: 0 0 auto;
      .input {
        padding: 10px;
        padding-right: 5px;
        flex: 1 1 auto;
      }
    }
  }

  .list-panel {
    min-width: 180px;
    flex: 3 1 auto;
    max-height: 100vh;
    overflow: auto;

    .fab-edit {
      height: 50px;
      width: 50px;
      bottom: 15px;
      right: 20px;
      position: fixed;
      z-index: 1;
    }
  }
}