.container {
  display: flex;
  flex-direction: row ;
  height: 100%;

  .feature-panel {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: calc(25vw + 100px);
    
    .add-item-field {
      display: flex;
      flex: 0 0 auto;
      .input {
        padding: 10px;
        padding-right: 5px;
        flex: 1 1 auto;
      }
    }
  }

  .list {
    min-width: 200px;
    flex: 3 1 auto;
    max-height: 100vh;
    overflow: auto;
  }
}