.main-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  // background: #3f51b5;
  background: linear-gradient(70deg, rgba(0, 0, 0, 0) 10%, #3f51b5 0%);

  .top-bar {
    flex: 0 1 50px;
  }

  .app-body {
    position: relative;
    flex: 1 1 auto;
    max-height: 100vh;
    overflow: hidden;
  }
}